body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(20, 18, 18);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(190, 190, 190) rgb(75, 73, 73);
}

.header {
    background: rgb(28, 28, 28);
    padding-bottom: 5vh;
}

.icon>svg {
    fill: currentColor;
    width: 1.9vw;
    height: 3.5vh;
    padding: 1.5vh 0.6vw 0.6vh 0.6vw;
}

.icon {
    margin: 3.7vh 1.7vw;
    position: fixed;
    z-index: 100;
    border-radius: 1vw;
    color: rgb(155, 155, 155);
    background: rgba(50, 50, 50, 0.45);
    box-shadow: 0 0 0.5vh rgba(17, 17, 17, 0.8);
}

.icon:hover {
    transition: background-color .7s, color .2s;
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    cursor: pointer;
}

#logo {
    text-align: center;
    padding-top: 5vh;
}

#logo>img {
    width: 8.4vw;
    height: 4.8vh;
}

#account {
    right: 0;
    top: 0;
}

#first-section {
    width: 100%;
    background: rgb(28, 28, 28);
    color: rgb(231, 230, 230);
    padding-bottom: 3.4vh;
}

h2 {
    margin: 0;
    padding: 7.3vh 0 8.7vh 0;
    font-size: 2.08vw;
    line-height: 3.2vh;
}

.section-content {
    padding: 0 6.25vw 10.4vh 6.25vw;
    color: rgb(231, 230, 230);
}

.section-content-2 {
    padding-bottom: 5vh !important;
    color: rgb(231, 230, 230);
}

.section-content-2>h2 {
    padding-top: 17.3vh;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.1vw;
    row-gap: 3.5vh;
    justify-content: start;
}

.grid-content-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.1vw;
    row-gap: 3.5vh;
    justify-content: start;
}

.grid-links {
    width: 20.25vw;
    height: 27.6vh;
}

.grid-links-2 {
    width: 27.5vw;
    height: 38vh;
    position: relative;
    border-radius: 1.2vh;
}

.grid-image {
    width: 100%;
    height: 100%;
    border-radius: 1.2vh;
    box-shadow: 0 0 0.5vh rgba(17, 17, 17, 0.8);
    transition: box-shadow 0.5s ease-out;
}

.grid-image>img {
    width: 100%;
    height: 100%;
    border-radius: 1.2vh;
    position: relative;
}

.grid-image>video {
    display: none;
}

.game-title {
    display: inline-block;
    margin: 1.7vh 0 1.7vh 0.2vw;
    position: static;
}

.game-title>button>p {
    text-decoration: none;
    color: rgb(231, 230, 230);
    font-size: 1vw;
    line-height: 2.1vh;
    font-weight: bold;
    letter-spacing: 0.05vw;
    font-family: 'Outfit', sans-serif;
}

.game-title>button>img {
    width: 1.95vw;
    height: 4.1vh;
    margin-right: 0.7vw;
}

.game-title>button {
    align-items: center;
}

button {
    display: inline-flex;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

a {
    cursor: default;
}

#events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.7vh;
    position: relative;
    width: 87vw;
}

#item-1 {
    grid-column: 1 / 3;
}

#title-convergence {
    grid-row: 3;
    grid-column: 1;
    padding: 0 0 0.9vh 0.8vw !important;
    line-height: 4.75vh;
}

#informations {
    grid-row: 4;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.8vw;
}

#informations>span {
    font-size: 1.22vw;
    line-height: 3.28vh;
    color: rgb(180, 180, 180);
}

#informations>div {
    padding: 0.3vh 0 0 1.5vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    height: 2vh;
    column-gap: 2.5vw;
}

#purchase {
    color: rgb(243, 243, 243);
    border-radius: 1.7vw;
    background: rgb(230, 0, 98);
    align-items: center;
    justify-content: center;
    width: 18.7vw;
}

#purchase>p,
#learn>p {
    font-size: 1.25vw;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
}

#learn {
    width: 20.86vw;
    color: rgb(243, 243, 243);
    border-radius: 1.7vw;
    background: rgb(41, 39, 39);
    align-items: center;
    justify-content: center;
}

.installed {
    border-bottom-left-radius: 1.2vh;
    border-bottom-right-radius: 1.2vh;
    width: 100%;
    height: 6.05vh;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: center;
}

#blue-installed {
    background: linear-gradient(to right, rgb(43, 143, 196), rgb(14, 192, 224));
}

#yellow-installed {
    background: linear-gradient(to right, rgb(255, 130, 38), rgb(255, 173, 41));
}

.installed>span {
    font-size: 1.33vw;
    color: rgb(20, 18, 18);
    padding-left: 1.05vw;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 1.2vh;
    background: rgba(17, 17, 17, 0.4);
}

.riot-games:hover .grid-links-2 .filter,
.riot-games:hover .grid-links-2 .installed {
    display: none;
}

.convergence-image {
    height: 73.4vh;
    border-radius: 1.2vh;
    box-shadow: 0 0 0.5vh rgba(17, 17, 17, 0.8);
    transition: box-shadow 0.5s ease-out;
}

.convergence-image>img {
    width: 100%;
    height: 100%;
    border-radius: 1.2vh;
    position: relative;
}

#purchase:hover {
    background: rgb(190, 0, 82);
}

#purchase:active {
    background: rgb(150, 0, 65);
}

#learn:hover {
    background: rgb(33, 30, 31);
}

#learn:active {
    background: rgb(20, 18, 18);
}

.riot-games:hover .blue-shadow img,
.riot-games:hover .blue-shadow video{
    animation-duration: 0.5s;
    animation-name: blue-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .yellow-shadow img{
    animation-duration: 0.5s;
    animation-name: yellow-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .pink-shadow>img {
    animation-duration: 0.5s;
    animation-name: pink-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .dark-yellow-shadow>img{
    animation-duration: 0.5s;
    animation-name: dark-yellow-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover div.grid-links,
.riot-games:hover div.grid-links-2,
.grid-links:hover,
.grid-links-2:hover {
    animation-duration: 0.3s;
    animation-name: scale;
    animation-fill-mode: forwards;
}

.riot-games:hover .grid-links-2>.grid-image,
.riot-games:hover .grid-links>.grid-image {
    border: 0.3vw solid rgb(139, 139, 139);
    padding: 0.72vh 0.33vw;
    border-radius: 2.2vh;
    margin-left: -0.66vw;
    margin-top: -1.4vh;
}

.riot-games:hover .grid-links-2,
.riot-games:hover .grid-links {
    margin-bottom: 1.4vh;
}

.riot-games:hover .grid-links>.blue-shadow img{
    display: none;
}

.riot-games:hover .grid-links>.blue-shadow video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2vh;
    top: 0;
}

.riot-games:hover .grid-links-2>.filter {
    display: none;
}

.cellphone {
    position: absolute;
    z-index: 5;
    width: 1.8vw;
    height: 3.1vh;
    left: 0.6vw;
    bottom: 2.4vh;
}

.riot-games:hover .grid-links-2>.cellphone {
    bottom: 1vh !important;
    left: 0.55vw !important;
}

@keyframes blue-shadow {
    from {
        box-shadow: 0 2vw 0 rgb(14, 192, 224);
    }
    30% {
        box-shadow: 0 2vw 8vh rgb(14, 192, 224);
    }
    to {
        box-shadow: 0 2vw 7vh rgba(14, 192, 224, 0.2);
    }
}

@keyframes yellow-shadow {
    from {
        box-shadow: 0 2vw 0 rgb(255, 173, 41);
    }
    30% {
        box-shadow: 0 2vw 8vh rgb(255, 173, 41);
    }
    to {
        box-shadow: 0 2vw 7vh rgba(255, 173, 41, 0.2);
    }
}

@keyframes pink-shadow {
    from {
        box-shadow: 0 2vw 0 rgb(255, 80, 118);
    }
    30% {
        box-shadow: 0 2vw 8vh rgb(255, 80, 118);
    }
    to {
        box-shadow: 0 2vw 7vh rgba(255, 80, 118, 0.2);
    }
}

@keyframes dark-yellow-shadow {
    from {
        box-shadow: 0 2vw 0 rgb(182, 153, 57);
    }
    30% {
        box-shadow: 0 2vw 9vh rgb(182, 153, 57);
    }
    to {
        box-shadow: 0 2vw 8vh rgba(182, 153, 57, 0.2);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    40% {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}