body {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(20, 18, 18);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(190, 190, 190) rgb(75, 73, 73);
}

.header {
    background: rgb(28, 28, 28);
    padding-bottom: 3em;
}

.icon>svg {
    fill: currentColor;
    width: 2.1em;
    height: 2.1em;
    padding: 1em 0.85em 0.45em 0.85em;
}

.icon {
    margin: 2.35em 2.15em;
    position: fixed;
    z-index: 100;
    border-radius: 1.3em;
    color: rgb(155, 155, 155);
    background: rgba(50, 50, 50, 0.45);
    box-shadow: 0 0 0.5em rgba(17, 17, 17, 0.8);
}

.icon:hover {
    transition: background-color .7s, color .2s;
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    cursor: pointer;
}

#logo {
    text-align: center;
    padding-top: 3em;
}

#logo>img {
    width: 10.1em;
    height: 2.8em;
}

#account {
    right: 0;
    top: 0;
}

#first-section {
    width: 100%;
    background: rgb(28, 28, 28);
    color: rgb(231, 230, 230);
    padding-bottom: 2em;
}

h2 {
    margin: 0;
    padding: 1.7em 0 2em 0;
    font-size: 2.5em;
    line-height: 0.75em;
}

.section-content {
    padding: 0 7.5em 6em 7.5em;
    color: rgb(231, 230, 230);
}

.section-content-2 {
    padding-bottom: 3em !important;
    color: rgb(231, 230, 230);
}

.section-content-2>h2 {
    padding-top: 4em;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 2em;
    justify-content: start;
}

.grid-content-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5em;
    row-gap: 2em;
    justify-content: start;
}

.grid-links {
    width: 24.3em;
    height: 16em;
}

.grid-links-2 {
    width: 33em;
    height: 22em;
    position: relative;
    border-radius: 0.75em;
}

.grid-image {
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
    box-shadow: 0em 0em 0.5em rgba(17, 17, 17, 0.8);
    transition: box-shadow 0.5s ease-out;
}

.grid-image>img {
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
    position: relative;
}

.grid-image>video {
    display: none;
}

.game-title {
    display: inline-block;
    margin: 1em 0 1em 0.3em;
    position: static;
}

.game-title>button>p {
    text-decoration: none;
    color: rgb(231, 230, 230);
    font-size: 1.45em;
    line-height: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: 'Outfit', sans-serif;
}

.game-title>button>img {
    width: 2.8em;
    height: 2.9em;
    margin-right: 1em;
}

.game-title>button {
    align-items: center;
}

button {
    display: inline-flex;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

a {
    cursor: default;
}

#events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1em;
}

#item-1 {
    grid-column: 1 / 3;
    height: 42.5em;
}

#title-convergence {
    grid-row: 3;
    grid-column: 1;
    padding: 0 0.4em 0.2em 0.4em !important;
    line-height: 1.1em;
}

#informations {
    grid-row: 4;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1em;
}

#informations>span {
    font-size: 1.47em;
    line-height: 1.3em;
    color: rgb(180, 180, 180);
}

#informations>div {
    padding: 0.2em 0 0 1.5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    height: 2em;
    column-gap: 3em;
}

#purchase {
    color: rgb(243, 243, 243);
    border-radius: 2.4em;
    background: rgb(230, 0, 98);
    align-items: center;
    justify-content: center;
    width: 27em;
}

#purchase>p {
    font-size: 1.8em;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
}

#learn {
    width: 30em;
    color: rgb(243, 243, 243);
    border-radius: 2.4em;
    background: rgb(41, 39, 39);
    align-items: center;
    justify-content: center;
}

#learn>p {
    font-size: 1.8em;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
}

.installed {
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    width: 100%;
    height: 3.5em;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    align-items: center;
}

#blue-installed {
    background: linear-gradient(to right, rgb(43, 143, 196), rgb(14, 192, 224));
}

#yellow-installed {
    background: linear-gradient(to right, rgb(255, 130, 38), rgb(255, 173, 41));
}

.installed>span {
    font-size: 1.6em;
    color: rgb(20, 18, 18);
    padding-left: 0.8em;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 0.75em;
    background: rgba(17, 17, 17, 0.4);
}

.grid-links-2:hover .filter,
.grid-links-2:hover .installed {
    display: none;
}

.convergence-image {
    width: 100%;
    height: 100%;
    border-radius: 0.8em;
    box-shadow: 0em 0em 0.5em rgba(17, 17, 17, 0.8);
    transition: box-shadow 0.5s ease-out;
}

.convergence-image>img {
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
    position: relative;
}

#purchase:hover {
    background: rgb(190, 0, 82);
}

#purchase:active {
    background: rgb(150, 0, 65);
}

#learn:hover {
    background: rgb(33, 30, 31);
}

#learn:active {
    background: rgb(20, 18, 18);
}

.riot-games:hover .blue-shadow img{
    animation-duration: 0.5s;
    animation-name: blue-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .yellow-shadow img{
    animation-duration: 0.5s;
    animation-name: yellow-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .pink-shadow>img {
    animation-duration: 0.5s;
    animation-name: pink-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover .dark-yellow-shadow>img{
    animation-duration: 0.5s;
    animation-name: dark-yellow-shadow;
    animation-fill-mode: forwards;
}

.riot-games:hover div.grid-links,
.riot-games:hover div.grid-links-2,
.grid-links:hover,
.grid-links-2:hover {
    animation-duration: 0.3s;
    animation-name: scale;
    animation-fill-mode: forwards;
}

.riot-games:hover .grid-links-2>.grid-image,
.riot-games:hover .grid-links>.grid-image {
    border: 0.35em solid rgb(139, 139, 139);
    padding: 0.35em;
    border-radius: 1.3em;
    margin-left: -0.7em;
    margin-top: -0.7em;
}

.riot-games:hover .grid-links-2,
.riot-games:hover .grid-links {
    margin-bottom: 0.7em;
}

@keyframes blue-shadow {
    from {
        box-shadow: 0 1em 0 rgb(14, 192, 224);
    }
    30% {
        box-shadow: 0 1em 4.5em rgb(14, 192, 224);
    }
    to {
        box-shadow: 0 1em 4em rgba(14, 192, 224, 0.3);
    }
}

@keyframes yellow-shadow {
    from {
        box-shadow: 0 1em 0 rgb(255, 173, 41);
    }
    30% {
        box-shadow: 0 1em 4.5em rgb(255, 173, 41);
    }
    to {
        box-shadow: 0 1em 4em rgba(255, 173, 41, 0.3);
    }
}

@keyframes pink-shadow {
    from {
        box-shadow: 0 1em 0 rgb(255, 80, 118);
    }
    30% {
        box-shadow: 0 1em 4.5em rgb(255, 80, 118);
    }
    to {
        box-shadow: 0 1em 4em rgba(255, 80, 118, 0.3);
    }
}

@keyframes dark-yellow-shadow {
    from {
        box-shadow: 0 1em 0 rgb(182, 153, 57);
    }
    30% {
        box-shadow: 0 1em 4.5em rgb(182, 153, 57);
    }
    to {
        box-shadow: 0 1em 4em rgba(182, 153, 57, 0.3);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    40% {
        transform: scale(1.02);
    }
    to {
        transform: scale(1);
    }
}